nav {
    padding-bottom: 20px;
}

section {
    padding: 20px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #04AA6D;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.td-require-data {
    padding : 20px;
    text-align: center;
}

.td-center {
    text-align: center;
}

.box-bookmark-select {
    padding-bottom: 20px;
}